h1, h2{
    color:#E15B64;
    text-align: center;
}

p{
    color:#849B89;
}

#principal{
    color: #FBB36B;
}

.destacado{
    background-color: #FFEB3B;
}

.centrado{
    text-align: center;
}

.izquierda{
    text-align: left;
}

#uno, #dos{
    width: 100px;
    height: 100px;
    border: 1px solid #000;

    color: #FFF;
    text-align: center;
    font-size: 50px;
    padding-top:20px;
    box-sizing: border-box;
}

#uno{
    background-color: #FF006D;
    margin-bottom: 5px;
}
#dos{
    background-color: #88BEB1;
}

#uno:hover{
    background-color: #DAFFFF;
    color:#000;
}

/*Esto es un comentario*/

