@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEE;
    color: #000000;
}


#header{
    width: 100%;
    height: 300px;
    background-image: url("../img/fondo3.jpg");
    /* background-attachment: fixed; */
    background-repeat: repeat-x;
}

p{
    font-size: 13px;
    /* text-transform: lowercase; */
    /* text-decoration:underline; */
    /* font-weight: bold; */
}



#uno, #dos{
    width: 48%;
    height: 400px;
    background-color: #AAA;
    float: left;
}

#dos{
    float: right;
 }


 #footer{
     clear:both;
     background-color: #333;
     color: #FFF;
     height: 100px;
     width: 100%;
 }