body{
    font-family: Arial;
    box-sizing: border-box;
}


#capaMensaje{
    background-image: url('../img/greeting.png');
    background-repeat: no-repeat;
    height: 256px;
    width: 256px;
    margin-top:50px;
}

#h1Saludo{
    margin-top:100px;
}

#burbuja{
    width: 80px;
    height: 60px;
    background-color: #FFD15C;
    margin-left: 150px;
    padding: 15px 0 0 0;
    text-align: center;
}


#spanSaludo{
    font-size: 35px;
}